
#mostrarComentarios {
    float: right;
    width: 30%;
}



#mostrarPost {
    float: left;
    width: 60%;
}


.divDivision {
    float: left;
    clear: both;
    width: 100%;
    height: 1px;
    margin: 10px 3px;
    background-color: #ccc;
    border-bottom: 1px solid #e9e9e9;
}


.avatarComentario {
    float: left;
    width: 20%;
}



.contComentario {
    float: left;
    width: 80%;
}



.centerComentario p {
    float: left;
    font-size: 10px;
}



.txaComment {
    width: 80%;
    max-width: 80%;
}



.footerComentario button {
    float: left;
}


.footerComentario p {
    float: left;
    padding: 3px;
}


.footerComentario {
    float: left;
    width: 100%;
}


#headTitulo a {
    text-decoration: none;
    color: 333;
    font: bold 12px Verdana, Arial, sans-serif;

    padding: 3px;

    background-color: #c9c9c9;
    border-radius: 3px;

    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}


#headTitulo a:hover {
    margin: 0 auto;
    background-color: #00aeef;
    color: #0a008f;
}


#descripcion {
    margin-top: 20px;
    padding: 9px;
    width: 70%;
    
    

    border-radius: 5px;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 1px rgba(255,255,255,0.7);

    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

}




